<% provide(:title, 'All orders') %>

<h1>Orders</h1>
<p>

<%= form_tag orders_path, :method => 'get' do %>

<%= label_tag :from_date %>
<%= date_field(:search, :from_date) %>

<%= label_tag :to_date %>
<%= date_field(:search, :to_date)%>

<%= submit_tag "Search" %>
<% end %>
 	
 	<h3>Active orders</h3>

 	<table class="table table-striped">
  <thead>
    <tr>
      <th>Order number</th>
      <th>Customer</th>
      <th>Adress</th>
      <th>Requested delivery</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |o| %>
      <tr>
        <td><%= o.id %></td>
        <% customer = Customer.find(o.customer_id) %>
        <td><%= customer.name %></td>
        <td><%= customer.adress %></td>
        <td><%= o.requested_delivery_date %></td>
        <td><%= link_to 'Show', o %></td>
      </tr>
    <% end %>
  </tbody>
</table>


 	<li><%= link_to "Place order", new_order_path %></li>


</p>

