<% provide(:title, 'Order details') %>

<h1>Listing Order</h1>

<h2>Order number: <%= @order.id %></h2>

<h3> To be delivered:  <%= @order.requested_delivery_date %></h3>

<% if !@cookie_orders.nil? %>
  <table class="table table-striped">
   <thead>
      <tr>
      </tr>
      <tr>
        <th> Name </th>
        <th> Ordered </th>
         <th> Produced </th>
      </tr>
    </thead>

    <tbody>
      <% @cookie_orders.each do |o| %>
      <tr>
        <td><%= (@cookies.find_by id: o.cookie_id).name %></td>
        <td><%= o.amount %></td>
        <td><%= Pallet.where(cookie_id: o.cookie_id, order_id: @order.id).size %></td>
        <td><%= button_to 'Produce', orders_check_storage_path(:amount => o.amount, :cookie_id => o.cookie_id, :order_id => @order.id), method: :post %></td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<li><%= link_to "New cookie order", new_cookie_order_path(order_id: @order.id) %></li>