<% provide(:title, 'All pallets') %>

<h1>Pallets</h1>
<p>
  
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Pallet number</th>
      <th>Order ID</th>
      <th>Product</th>
      <th>Location</th>
      <th>Production date</th>
      <th>Blocked</th>


    </tr>
  </thead>

  <tbody>
    <% @pallets.each do |o| %>
      <tr>
        <td><%= o.id %></td>
        <td><%= o.order_id %></td>
        <td><%= Cookie.find_by(id: o.cookie_id).name %></td>
        <td><%= o.location %></td>
        <td><%= o.created_at.to_date %></td> 
        <td><%= o.blocked ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', o %></td>
        </tr>
    <% end %>
  </tbody>
</table>

</p>